x86_64
/src/test/resources/*.mod
/src/test/resources/*.txt
/src/test/resources/clean.sh
/.pydevproject
/jsbml.log
*_SBML.xml
*_LEMS.xml
*.*~
*.class

# Package Files #

target
sbmlTestSuite/
src/test/resources/*.dat
src/test/resources/*.ode
src/test/resources/*.gv
src/test/resources/*.py
src/test/resources/*.log
src/test/resources/*.png
src/test/resources/*.csv

src/test/resources/tmp

Errors.txt
